.titleHeaderContainer {
  background-color: #000000;
  color:#fff;
  justify-content: space-between;
  height: 80px;
  display: flex;
  align-items:center;
  padding: 20px;
  }
.titleContainer {
  font-family: NotoSans;
  font-size: 40px;
  float:left;
  display: flex;
}
.titleText {
margin: 0%;
float: left;
padding-top: 40px;
padding-bottom: 40px;
}
.titleText:hover {
margin: 0%;
float: left;
padding-top: 40px;
padding-bottom: 40px;
color: green;
}
.titleText:active {
margin: 0%;
float: left;
padding-top: 40px;
padding-bottom: 40px;
color: white;
}
.titleImg{
height: 120px;
float: left;
}
.signOutContainer {
  font-size: 20px;
  float: right;
  text-align: center;
  display: flex;
  align-items: center;
}
.titleText{
  color: white;
  font-family: NotoSans;
  font-size: 40px;
}
.signOutText {
  color: inherit;
  margin: 0%;
  font-size: 16px; /* Adjust this value to your desired size */
  
}
.signOutBtn {
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  margin: 0%;
  font-size: 16px; /* Adjust this value to your desired size */
  margin-left: 10px;
  cursor: pointer;
}

.navBarContainer{
background-color: #fff;
width: 100%;
margin: 0%;
}
.navItemsContainer{
background-color: #D9D9D9;
margin: 0%;
display: flex;
align-items:center;
justify-content: space-between;
height: fit-content;

}
.navItemText{
font-family: NotoSans;
font-size: 30px;
color: inherit;
margin: 0%;
float: right;
padding-top: 20px;
padding-bottom: 20px;
}
.navItem{
margin: 0%;
padding-left: 50px;
padding-right: 50px;
text-align: center;
display: flex;
}
.navItem:hover{
margin: 0%;
padding-left: 50px;
padding-right: 50px;
text-align: center;
display: flex;
color: green;
}
.navItem:active{
margin: 0%;
padding-left: 50px;
padding-right: 50px;
text-align: center;
display: flex;
color: black;
}
.navImg{
height: 70px;
float: left;
}

.recipeCreateTitleContainer{
width: 100%;
padding-top: 80px

}
/*.recipeCreateTitleBox{
background-color: black;
width: 30%;
padding: 3px;
border-radius: 23px;
margin: auto;
}*/
.recipeCreateTitleText{
font-family: Inika;
font-size: 40px;
background-color: white;
border-width: 5px;
border-color: #000000;
border-radius: 20px;
width: 30%;
align-content: center;
margin: auto;
text-align: center;
border-style: solid;

}
.recipeCreateOuterContainer{
border-color: white;
border-style: solid;
border-width: 20px;
background-image: url('./images/recipes.png');
background-size: cover;
background-position-y: -300px;

}
.recipeCreateInnerContainer{
background-color: #d9d9d9;
border-radius: 10px;
border-color: #d9d9d9;
border-style: solid;
height: fit-content;
opacity: 0.9;
padding-bottom: 50px;
}
.recipeCreateInnererContainer{
display: flex;
justify-content: space-between;
}

.foodStorageImgPadding {
  padding-top: 10px; /* Adjust this value to move the image down */
}

.foodStorageImg {
  height: 50px; /* Adjust this value to your desired height */
  width: auto; /* This will preserve the aspect ratio of the image */
}
.recipeInputBox{
margin-left: 20px;
padding:10px;
font-size: 20px;
}
.recipeTitleText{
font-size: 24px;
font-family: Inika;
margin-left: 20px;
margin-bottom: 5px;
}
.saveRecipeText{
  font-size: 14px;
  font-family: Inika;
  margin: 1px;
}
.saveRecipeBtn{
  font-size: 24px;
  font-family: Inika;
  text-align: center;
  padding: 10px;
  margin-left: 18px;
}
.exitRecipeBtn{
  font-size: 24px;
  font-family: Inika;
  text-align: center;
  padding: 10px;
  margin-left: 18px;
}
.saveRecipeContainer{
  padding: 1px;
}
.recipeDetailsContainer{
  padding-right: 20px;
  padding-left: 20px;
}
.ingredientTitleText{
font-size: 20px;
margin-left: 20px;
font-family: Inika;
}
.ingredientCreator{
margin-left: 20px;
}
.recipeIngredientBox{
padding:8px;
font-size: 16px;
margin-right: 5px;
margin-bottom: 8px;
}
.recipeAmountBox{
padding:8px;
font-size: 16px;
margin-right: 5px;
margin-bottom: 8px;
}
.recipeSelectBox{
padding:8px;
font-size: 16px;
}
.addIngredientButton{
padding: 0;
border: none;
background: transparent;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
.addIngredientButton:hover{
padding: 0;
border: none;
background: black;
border-radius: 20px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
.addIngredientButton:active{
padding: 0;
border: none;
background: #d9d9d9;
border-radius: 20px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
.addIngredientText{
font-size: 16px;
font-family: Inika;
margin-left: 20px;
}
.addIngredientContainer{
display: flex;
}
.addIngredientBtnContainer{
display: flex;
align-items: center;
justify-content: center;
}
.addIngredientImg{
height: 30px;
}
.recipeSteps{
font-size: 20px;
margin-left: 20px;
font-family: Inika;
}
@font-face {
font-family: NotoSans;
src: url(./fonts/NotoSans.ttf);
}
@font-face {
font-family: Inika;
src: url(./fonts/Inika-Regular.ttf);
}